Repository gruhn/vue-qrcode-reader: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format

.lintstagedrc:

{
  "**/*.{vue,ts}": ["pnpm lint"],
  "**/*.{vue,ts,json,md}": ["pnpm format"]
}

chore: fix package.json
  package.json
  pnpm-lock.yaml
Due: pnpm format

fix: increase stream-load-timeout to 6 seconds
  .envrc
  .gitignore
  .husky/pre-commit
  CONTRIBUTING.md
  flake.lock
  flake.nix
  package.json
  pnpm-lock.yaml
  shell.nix
  src/misc/camera.ts
  src/misc/errors.ts
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  a5dbaa23e07409ad19a34cc596e06cd9867f57fd
Due: none

camera state machine
  src/components/QrcodeStream.vue
  src/misc/camera.ts
Due: pnpm lint, pnpm format

save
  src/misc/camera.ts
  src/misc/shimGetUserMedia.ts
  src/misc/util.ts
Due: pnpm lint, pnpm format

feat: only install polyfill if there is no native support
  .vitepress/cache/deps/@theme_index.js
  .vitepress/cache/deps/@theme_index.js.map
  .vitepress/cache/deps/_metadata.json
  .vitepress/cache/deps/chunk-F2IEUAOI.js
  .vitepress/cache/deps/chunk-F2IEUAOI.js.map
  .vitepress/cache/deps/package.json
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  .vitepress/cache/deps/vue.js
  .vitepress/cache/deps/vue.js.map
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/index.ts
  src/misc/scanner.ts
Due: pnpm lint, pnpm format

Modified gitignore to ignore vitepress cache and dist
  .gitignore
  .vitepress/cache/deps/@theme_index.js
  .vitepress/cache/deps/@theme_index.js.map
  .vitepress/cache/deps/_metadata.json
  .vitepress/cache/deps/chunk-F2IEUAOI.js
  .vitepress/cache/deps/chunk-F2IEUAOI.js.map
  .vitepress/cache/deps/package.json
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  .vitepress/cache/deps/vue.js
  .vitepress/cache/deps/vue.js.map
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

ci: delete PR preview action
  .github/workflows/preview.yml
Due: none

Deploy preview for PR 449 🛫
  pr-preview/pr-449/404.html
  pr-preview/pr-449/api/QrcodeCapture.html
  pr-preview/pr-449/api/QrcodeDropZone.html
  pr-preview/pr-449/api/QrcodeStream.html
  pr-preview/pr-449/assets/chunks/QrcodeStream.vue_vue_type_script_setup_true_lang.CUHYp3xr.js
  pr-preview/pr-449/assets/chunks/QrcodeStream.vue_vue_type_script_setup_true_lang.GbEf4hK0.js
  pr-preview/pr-449/assets/chunks/camera.BJQyjlnn.js
  pr-preview/pr-449/assets/chunks/camera.DhcMeik-.js
  pr-preview/pr-449/assets/demos_DragDrop.md.cTRAHQaD.js
  pr-preview/pr-449/assets/demos_DragDrop.md.cTRAHQaD.lean.js
  pr-preview/pr-449/assets/demos_FullDemo.md.CRrzANCR.js
  pr-preview/pr-449/assets/demos_FullDemo.md.CRrzANCR.lean.js
  pr-preview/pr-449/assets/demos_Fullscreen.md.h2cqoaSc.js
  pr-preview/pr-449/assets/demos_Fullscreen.md.h2cqoaSc.lean.js
  pr-preview/pr-449/assets/demos_LoadingIndicator.md.CPwUJoov.js
  pr-preview/pr-449/assets/demos_LoadingIndicator.md.CPwUJoov.lean.js
  pr-preview/pr-449/assets/demos_ScanSameQrcodeMoreThanOnce.md.kZa9Btsu.js
  pr-preview/pr-449/assets/demos_ScanSameQrcodeMoreThanOnce.md.kZa9Btsu.lean.js
  pr-preview/pr-449/assets/demos_SwitchCamera.md.CydEbheE.js
  pr-preview/pr-449/assets/demos_SwitchCamera.md.CydEbheE.lean.js
  pr-preview/pr-449/assets/demos_Torch.md.bksnySAD.js
  pr-preview/pr-449/assets/demos_Torch.md.bksnySAD.lean.js
  pr-preview/pr-449/assets/demos_Upload.md.CnQDh4cA.js
  pr-preview/pr-449/assets/demos_Upload.md.CnQDh4cA.lean.js
  pr-preview/pr-449/assets/demos_Validate.md.DtHqSbkl.js
  pr-preview/pr-449/assets/demos_Validate.md.DtHqSbkl.lean.js
  pr-preview/pr-449/demos/DragDrop.html
  pr-preview/pr-449/demos/FullDemo.html
  pr-preview/pr-449/demos/Fullscreen.html
  pr-preview/pr-449/demos/LoadingIndicator.html
  pr-preview/pr-449/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-449/demos/Simple.html
  pr-preview/pr-449/demos/SwitchCamera.html
  pr-preview/pr-449/demos/Torch.html
  pr-preview/pr-449/demos/Upload.html
  pr-preview/pr-449/demos/Validate.html
  pr-preview/pr-449/hashmap.json
  pr-preview/pr-449/index.html
  pr-preview/pr-449/sw.js
Due: pnpm format

Deploy preview for PR 449 🛫
  pr-preview/pr-449/404.html
  pr-preview/pr-449/api/QrcodeCapture.html
  pr-preview/pr-449/api/QrcodeDropZone.html
  pr-preview/pr-449/api/QrcodeStream.html
  pr-preview/pr-449/assets/chunks/QrcodeStream.vue_vue_type_script_setup_true_lang.Bj_Yy6-y.js
  pr-preview/pr-449/assets/chunks/QrcodeStream.vue_vue_type_script_setup_true_lang.GbEf4hK0.js
  pr-preview/pr-449/assets/chunks/camera.DF9Thzz0.js
  pr-preview/pr-449/assets/demos_DragDrop.md.DYT1f44c.js
  pr-preview/pr-449/assets/demos_DragDrop.md.DYT1f44c.lean.js
  pr-preview/pr-449/assets/demos_FullDemo.md.B8sxjxsS.js
  pr-preview/pr-449/assets/demos_FullDemo.md.B8sxjxsS.lean.js
  pr-preview/pr-449/assets/demos_Fullscreen.md.BTGso4Yk.js
  pr-preview/pr-449/assets/demos_Fullscreen.md.BTGso4Yk.lean.js
  pr-preview/pr-449/assets/demos_LoadingIndicator.md.Dv4yvJ3V.js
  pr-preview/pr-449/assets/demos_LoadingIndicator.md.Dv4yvJ3V.lean.js
  pr-preview/pr-449/assets/demos_ScanSameQrcodeMoreThanOnce.md.DJn_oqek.js
  pr-preview/pr-449/assets/demos_ScanSameQrcodeMoreThanOnce.md.DJn_oqek.lean.js
  pr-preview/pr-449/assets/demos_SwitchCamera.md.BlWQ2agy.js
  pr-preview/pr-449/assets/demos_SwitchCamera.md.BlWQ2agy.lean.js
  pr-preview/pr-449/assets/demos_Torch.md.CxVmWBQA.js
  pr-preview/pr-449/assets/demos_Torch.md.CxVmWBQA.lean.js
  pr-preview/pr-449/assets/demos_Upload.md.qOIBf4Wq.js
  pr-preview/pr-449/assets/demos_Upload.md.qOIBf4Wq.lean.js
  pr-preview/pr-449/assets/demos_Validate.md.C4zyxvS1.js
  pr-preview/pr-449/assets/demos_Validate.md.C4zyxvS1.lean.js
  pr-preview/pr-449/demos/DragDrop.html
  pr-preview/pr-449/demos/FullDemo.html
  pr-preview/pr-449/demos/Fullscreen.html
  pr-preview/pr-449/demos/LoadingIndicator.html
  pr-preview/pr-449/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-449/demos/Simple.html
  pr-preview/pr-449/demos/SwitchCamera.html
  pr-preview/pr-449/demos/Torch.html
  pr-preview/pr-449/demos/Upload.html
  pr-preview/pr-449/demos/Validate.html
  pr-preview/pr-449/hashmap.json
  pr-preview/pr-449/index.html
  pr-preview/pr-449/sw.js
Due: pnpm format

ci: delete PR preview action (#448)
  .github/workflows/preview.yml
Due: none

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@8272a5d0aa256511fa563659b60fbf451203e89a 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  assets/app.9z4OoTxy.js
  assets/app.Dfu3t2eG.js
  assets/chunks/VPLocalSearchBox.C6Etvfbf.js
  assets/chunks/VPLocalSearchBox.Dk2OJKTE.js
  assets/chunks/theme.B-e95pFv.js
  assets/chunks/theme.DxuAWb2U.js
  assets/style.BcK_-s6q.css
  assets/style.CPAitQMZ.css
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  hashmap.json
  index.html
  sw.js
Due: pnpm format

perf: BarcodeDetector polyfill only if no native support
  .gitignore
  src/misc/scanner.ts
  src/misc/shimGetUserMedia.ts
  src/misc/util.ts
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  aa7c5aa7a4c1837c4a33f38e4df159ccca0e0b9b
Due: none

fix: native `BarocdeDetector` doesn't support requested formats
  docs/api/QrcodeStream.md
  src/components/QrcodeStream.vue
  src/misc/scanner.ts
Due: pnpm lint, pnpm format

typos
  docs/api/QrcodeStream.md
  src/misc/scanner.ts
Due: pnpm lint, pnpm format

fix: native `BarocdeDetector` doesn't support requested formats (#451)
  docs/api/QrcodeStream.md
  src/components/QrcodeStream.vue
  src/misc/scanner.ts
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  7dcd6c822afe0446a97143527a9975ef9ab84715
Due: none

fix: #429
  tsconfig.json
Due: pnpm format

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@35da4e04c7ed4a2716f503367e4b73fc4a89a170 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  assets/app.B_J4-B3K.js
  assets/app.DiD9A94Y.js
  assets/chunks/VPLocalSearchBox.ByB8GwlZ.js
  assets/chunks/VPLocalSearchBox.nORtJpYz.js
  assets/chunks/theme.BmAq5g-P.js
  assets/chunks/theme.Bu6m7hlu.js
  assets/style.BecwPQUx.css
  assets/style.DdV8lNrB.css
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  index.html
  sw.js
Due: none

Notes added by 'git notes add'
  35da4e04c7ed4a2716f503367e4b73fc4a89a170
Due: none

fix(QrcodeDropZone): `formats` prop is not passed along
  docs/.vitepress/components/demos/DragDrop.vue
  src/components/QrcodeDropZone.vue
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  32606518f07ccc5807e460862a11d2dc21510799
Due: none

docs: credit related projects
  README.md
Due: pnpm format

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@e68f9245ae02daf9018ea8166ac1053344a97128 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  assets/app.D6H4Yzh_.js
  assets/app.UcnzsrvH.js
  assets/chunks/VPLocalSearchBox.AoG0eZXm.js
  assets/chunks/VPLocalSearchBox.Bnn1F-7n.js
  assets/chunks/theme.BWsV1as1.js
  assets/chunks/theme.gGNbi9J7.js
  assets/style.BD7js0Ka.css
  assets/style.Dw3OU07M.css
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  index.html
  sw.js
  workbox-86c9b217.js
Due: none

track prop type simplified (no need to define exta type for detected codes)
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

`error` event type improved
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/misc/errors.ts
Due: pnpm lint, pnpm format

Obsole TODO comments removed.
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

feat: more detailed types
  package-lock.json
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/misc/errors.ts
Due: pnpm lint, pnpm format

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@442446a6b53e3333470b2d654095694c5eff4894 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  assets/app.CMq4myxa.js
  assets/app.UcnzsrvH.js
  assets/chunks/VPLocalSearchBox.AoG0eZXm.js
  assets/chunks/VPLocalSearchBox.Czqvq3Gp.js
  assets/chunks/theme.BWsV1as1.js
  assets/chunks/theme.C8UVLHxp.js
  assets/style.BD7js0Ka.css
  assets/style.DBNrZm1J.css
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  index.html
  sw.js
Due: none
