Repository gruhn/vue-qrcode-reader: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format

Notes added by 'git notes add'
  442446a6b53e3333470b2d654095694c5eff4894
Due: none

feat: export component prop types
  .github/workflows/main.yml
  docs/api/QrcodeStream.md
  package.json
  pnpm-lock.yaml
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/index.ts
  src/misc/errors.ts
  tsconfig.app.json
Due: pnpm lint, pnpm format

also export EmittedError
  src/index.ts
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  cc200c46fcce1ccbc1e9176fcf303ad56859d025
Due: none

fix: blacklist two more cameras
  src/misc/camera.js
Due: none

issue 463: allow to select any device from list
  src/components/QrcodeStream.vue
  src/misc/camera.js
  src/misc/cameraFilter.js
Due: pnpm lint, pnpm format

custom changes v0.1
  src/components/QrcodeStream.vue
  src/misc/camera.js
Due: pnpm lint, pnpm format

fix: PDF471 codes on desktop Mac
  src/misc/scanner.ts
  src/misc/util.ts
Due: pnpm lint, pnpm format

fix: PDF471 codes on desktop Mac (#466)
  src/misc/scanner.ts
  src/misc/util.ts
Due: pnpm lint, pnpm format

ci: tinker
  .github/workflows/main.yml
Due: none

tinker
  .github/workflows/main.yml
Due: none

ci: fix corepack failure (#467)
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  c9/1781b2871ef10153e717c1372bb78a14d2c762
Due: none

Update QrcodeCapture.vue
  src/components/QrcodeCapture.vue
Due: pnpm lint, pnpm format

Fix type of constraints
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

fix(QrcodeStream): type of constraints
  src/components/QrcodeStream.vue
Due: pnpm lint, pnpm format

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@4d593a711963277b801d6df33329a82a7edf8b24 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  assets/app.C-t4_Krm.js
  assets/app.DrDQBkPV.js
  assets/chunks/VPLocalSearchBox.BB3pLoWE.js
  assets/chunks/VPLocalSearchBox.Cbgp__J8.js
  assets/chunks/theme.CCGeTHY_.js
  assets/chunks/theme.Cp5JS13f.js
  assets/style.C4S79uzL.css
  assets/style.C_caKhZ4.css
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  index.html
  manifest.webmanifest
  sw.js
Due: none

Notes added by 'git notes add'
  4d/593a711963277b801d6df33329a82a7edf8b24
Due: none

lib ver fixed And export setZXingModuleOverrides
  package.json
  src/index.js
Due: pnpm format

fix: always use BarcodeDetector polyfill
  package-lock.json
  src/components/QrcodeStream.vue
  src/misc/scanner.ts
  src/misc/util.ts
Due: pnpm lint, pnpm format

Notes added by 'git notes add'
  c0/dfa1d5aa88fba51bd8c193680566b7bd7aadb4
Due: none

docs: page for testing polyfill in isolation
  CLAUDE.md
  docs/public/barcode-detector-test.html
Due: pnpm format

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@ce28111a7390c3ccb0482bcd9f949adfeafdff72 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  assets/app.4MlHmAg2.js
  assets/app.BmUUpjO_.js
  assets/chunks/VPLocalSearchBox.CdDc-K49.js
  assets/chunks/VPLocalSearchBox.DUe8aDgT.js
  assets/chunks/theme.Dca_P1w6.js
  assets/chunks/theme.TxNFPanC.js
  assets/style.CAqy5f8a.css
  assets/style._o-JA5m5.css
  barcode-detector-test.html
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  index.html
  sw.js
Due: none

chore: upgrade barcode-detector 2.2.2 -> 3.2.0
  docs/public/barcode-detector-test.html
  package.json
  pnpm-lock.yaml
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/index.ts
  src/misc/scanner.ts
Due: pnpm lint, pnpm format

chore: migrate from pnpm to npm
  .github/workflows/main.yml
  .lintstagedrc
  CLAUDE.md
  CONTRIBUTING.md
  docs/.vitepress/components/demos/DragDrop.vue
  flake.nix
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/QrcodeStream.vue
  src/index.ts
Due: pnpm lint, pnpm format

chore: remove husky and lint-staged
  .lintstagedrc
Due: none

Path conditions:
  pnpm lint: any of: **/*.{vue,ts}
  pnpm format: any of: **/*.{vue,ts,json,md}
