Repository gruhn/vue-qrcode-reader: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format

tinker
  .github/ISSUE_TEMPLATE/bug_report.md
Due: pnpm format

Deploy preview for PR 422 🛫
  pr-preview/pr-422/404.html
  pr-preview/pr-422/api/QrcodeCapture.html
  pr-preview/pr-422/api/QrcodeDropZone.html
  pr-preview/pr-422/api/QrcodeStream.html
  pr-preview/pr-422/demos/DragDrop.html
  pr-preview/pr-422/demos/FullDemo.html
  pr-preview/pr-422/demos/Fullscreen.html
  pr-preview/pr-422/demos/LoadingIndicator.html
  pr-preview/pr-422/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-422/demos/Simple.html
  pr-preview/pr-422/demos/SwitchCamera.html
  pr-preview/pr-422/demos/Torch.html
  pr-preview/pr-422/demos/Upload.html
  pr-preview/pr-422/demos/Validate.html
  pr-preview/pr-422/hashmap.json
  pr-preview/pr-422/index.html
  pr-preview/pr-422/sw.js
Due: pnpm format

ci: migrate docs to back to GitHub pages (#422)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/main.yml
  .github/workflows/preview.yml
  CONTRIBUTING.md
  README.md
  docs/.vitepress/config.ts
  package.json
Due: pnpm lint, pnpm format

feat：support formats (#414)
  package.json
  src/components/QrcodeCapture.vue
  src/components/QrcodeDropZone.vue
  src/components/QrcodeStream.vue
  src/misc/scanner.js
Due: pnpm lint, pnpm format

ci: re-generate package*.json / add shell.nix
  package-lock.json
  package.json
  shell.nix
Due: pnpm format

feat: dummy commit to trigger release v3.2.0
  README.md
Due: pnpm format

Notes added by 'git notes add'
  e7a6bf33dab6f3ea3dcd8fff815788cdc4c308d6
Due: none

fix: remove references to nonexistent CJS
  package.json
Due: pnpm format

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@d6b07273da1e7b6c8cd951bac7653e1541146920 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  hashmap.json
  index.html
  sw.js
Due: pnpm format

Notes added by 'git notes add'
  d6b07273da1e7b6c8cd951bac7653e1541146920
Due: none

fix(FullDemo): hidden device ID dropdown
  docs/.vitepress/components/demos/FullDemo.vue
  docs/.vitepress/config.ts
  src/misc/camera.ts
  src/misc/scanner.ts
Due: pnpm lint, pnpm format

Deploy preview for PR 434 🛫
  pr-preview/pr-434/404.html
  pr-preview/pr-434/api/QrcodeCapture.html
  pr-preview/pr-434/api/QrcodeDropZone.html
  pr-preview/pr-434/api/QrcodeStream.html
  pr-preview/pr-434/assets/app.5KyQpN7e.js
  pr-preview/pr-434/assets/app.JiQiGU7Q.js
  pr-preview/pr-434/assets/chunks/@localSearchIndexroot.bR3PSPz_.js
  pr-preview/pr-434/assets/chunks/@localSearchIndexroot.vfdG9mSG.js
  pr-preview/pr-434/assets/chunks/VPLocalSearchBox.2MkrhxI8.js
  pr-preview/pr-434/assets/chunks/theme.5DzwVrUI.js
  pr-preview/pr-434/assets/chunks/theme.EGkWRawO.js
  pr-preview/pr-434/assets/demos_FullDemo.md.HXnQTtY_.js
  pr-preview/pr-434/assets/demos_FullDemo.md.HXnQTtY_.lean.js
  pr-preview/pr-434/assets/style.INXcgHq2.css
  pr-preview/pr-434/assets/style.x4FbZIEs.css
  pr-preview/pr-434/demos/DragDrop.html
  pr-preview/pr-434/demos/FullDemo.html
  pr-preview/pr-434/demos/Fullscreen.html
  pr-preview/pr-434/demos/LoadingIndicator.html
  pr-preview/pr-434/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-434/demos/Simple.html
  pr-preview/pr-434/demos/SwitchCamera.html
  pr-preview/pr-434/demos/Torch.html
  pr-preview/pr-434/demos/Upload.html
  pr-preview/pr-434/demos/Validate.html
  pr-preview/pr-434/hashmap.json
  pr-preview/pr-434/index.html
  pr-preview/pr-434/sw.js
Due: pnpm format

Notes added by 'git notes add'
  f7625135bcade3129eebf83c6c674aad202abd7b
Due: none

fix: catch errors in camera queue
  docs/.vitepress/components/demos/FullDemo.vue
  docs/.vitepress/config.ts
  src/misc/camera.ts
  src/misc/util.ts
Due: pnpm lint, pnpm format

camera state machine
  src/components/QrcodeStream.vue
  src/misc/camera.ts
Due: pnpm lint, pnpm format

Deploy preview for PR 435 🛫
  pr-preview/pr-435/404.html
  pr-preview/pr-435/api/QrcodeCapture.html
  pr-preview/pr-435/api/QrcodeDropZone.html
  pr-preview/pr-435/api/QrcodeStream.html
  pr-preview/pr-435/demos/DragDrop.html
  pr-preview/pr-435/demos/FullDemo.html
  pr-preview/pr-435/demos/Fullscreen.html
  pr-preview/pr-435/demos/LoadingIndicator.html
  pr-preview/pr-435/demos/ScanSameQrcodeMoreThanOnce.html
  pr-preview/pr-435/demos/Simple.html
  pr-preview/pr-435/demos/SwitchCamera.html
  pr-preview/pr-435/demos/Torch.html
  pr-preview/pr-435/demos/Upload.html
  pr-preview/pr-435/demos/Validate.html
  pr-preview/pr-435/hashmap.json
  pr-preview/pr-435/index.html
  pr-preview/pr-435/sw.js
Due: pnpm format

Notes added by 'git notes add'
  269beb6892eed817c14a7dbc80476337ff6f1d48
Due: none

ci: dont-mark-stale issue label
  .github/workflows/stale.yml
Due: none

Deploying to gh-pages from @ gruhn/vue-qrcode-reader@b5d08d998bc81df26ef1126411c801efa52ccb20 🚀
  404.html
  api/QrcodeCapture.html
  api/QrcodeDropZone.html
  api/QrcodeStream.html
  demos/DragDrop.html
  demos/FullDemo.html
  demos/Fullscreen.html
  demos/LoadingIndicator.html
  demos/ScanSameQrcodeMoreThanOnce.html
  demos/Simple.html
  demos/SwitchCamera.html
  demos/Torch.html
  demos/Upload.html
  demos/Validate.html
  hashmap.json
  index.html
  sw.js
Due: pnpm format

chore: remove broken lint setup
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: pnpm format

chore: replace legacy nix with flake setup
  .envrc
  .gitignore
  CONTRIBUTING.md
  flake.lock
  flake.nix
  shell.nix
Due: pnpm format

fix: increase stream-load-timeout to 6 seconds
  src/misc/camera.ts
  src/misc/errors.ts
Due: pnpm lint, pnpm format

Path conditions:
  pnpm lint: any of: **/*.{vue,ts}
  pnpm format: any of: **/*.{vue,ts,json,md}
